{{#each country}}
    <li class="country">
        <div class="country-img">
            <img src="{{flags.svg}}" alt="{{name.official}}">
        </div>
        <div class="name-country">
            <h2 class="title">{{name.official}}</h2>
        </div>
    </li>
{{/each}}