{{#each this}}
    <li class="country">
        <div class="country-img">
            <img src="{{flags.svg}}" alt="{{name.official}}" width="75px">
        </div>
        <div class="name-country">
            <p>{{name.official}}</p>
        </div>
    </li>
{{/each}}